{%extends 'education/base.html' %}

{%block content%}
  {%for item in education%}
            <div class="card text mb-3">
                <div class="card-header">
                    Категория :{{item.category}}
                </div>
                <div class="card-body">
                    {%if item.image%}
                    <img src="{{item.image.url}}" alt=""
                         width="300" height="250" class="mr-3">
                    {%else%}
                    <img src="https://fotki.ykt.ru/albums/userpics/23871/93764221.jpg"
                         width="300" height="250" class="mr-3">
                    {%endif%}
                    <div class="media-body">
                        <h5 class="card-title"> Название университета: {{item.name}}</h5>
                        <p class="card-text">История университета: {{item.history_of_university|safe|linebreaks|truncatewords:40}}</p>
                        <a href="{% url 'education_detail' item.pk%}" class="btn btn-primary">Read more</a>
                        <p class="card-text">Адрес: {{item.address}}</p>


                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{item.created_at|date:'Y-m-d H:i'}}
                </div>
            </div>
            {%empty%}
            ooops
  {%endfor%}

{% if education.has_other_pages %}
<nav aria-label="...">
<ul class="pagination">
<!--    если есть следующая страница-->
{% if education.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ education.previous_page_number }}"
           tabindex="-1" aria-disabled="true">Previous</a>
    </li>
{% else %}
{% endif %}
<!--    цикл по всем страницам-->
{% for i in education.paginator.page_range %}
<!--    если текущая страница действующая-->
{% if education.number == i %}
<li  class="page-item active" aria-current="page">
          <a class="page-link" href="#">{{i}}</a>
</li>
{% else %}
<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
{% endif %}
{% endfor %}
{% if education.has_next %}
<li class="page-item"><a class="page-link" href="?page={{ education.next_page_number }}">Next</a></li>
{% else %}
<li class="disabled"><span></span></li>
{% endif %}
</ul>
</nav>
{% endif %}


{%endblock%}