{%extends 'university_detail/base.html' %}

{%block content%}
<div class="card text mb-3">

    <div class="card-body">
        {%if education.Image%}
        <img src="{{education.Image}}" alt=""
             width="300" height="250" class="mr-3">
        {%else%}
        <img src="https://fotki.ykt.ru/albums/userpics/23871/93764221.jpg"
             width="300" height="250" class="mr-3">
        {%endif%}
        <div class="media-body">
            <h5 class="card-title"> Название университета: {{education.name}}</h5>
            <p class="card-text">История университета: {{education.history_of_university}}</p>
            <p class="card-text">Адрес: {{education.address}}</p>


        </div>
    </div>
    <div class="card-footer text-muted">
        {{education.created_at|date:'Y-m-d H:i'}}
    </div>
</div>


{%endblock%}